[data-theme="dark"] {
  --fui-brand-1: #1e1824;
  --fui-brand-2: #24192d;
  --fui-brand-3: #391f4f;
  --fui-brand-4: #471f65;
  --fui-brand-5: #512174;
  --fui-brand-6: #68358e;
  --fui-brand-7: #763ea0;
  --fui-brand-8: #8739bd;
  --fui-brand-9: #b750ff;
  --fui-brand-10: #bb70f7;
  --fui-brand-11: #cd92ff;
  --fui-brand-12: #f0e1ff;
  --fui-brand-a-1: rgba(180, 104, 255, 0.08);
  --fui-brand-a-2: rgba(178, 85, 254, 0.118);
  --fui-brand-a-3: rgba(170, 71, 255, 0.261);
  --fui-brand-a-4: rgba(170, 57, 255, 0.353);
  --fui-brand-a-5: rgba(171, 55, 255, 0.416);
  --fui-brand-a-6: rgba(183, 86, 255, 0.525);
  --fui-brand-a-7: rgba(185, 92, 255, 0.601);
  --fui-brand-a-8: rgba(180, 72, 255, 0.723);
  --fui-brand-a-9: rgba(183, 80, 255, 1);
  --fui-brand-a-10: rgba(193, 115, 255, 0.966);
  --fui-brand-a-11: rgba(205, 146, 255, 1);
  --fui-brand-a-12: rgba(240, 225, 255, 1);
  --fui-secondary-1: #241814;
  --fui-secondary-2: #2d1913;
  --fui-secondary-3: #4b1d0f;
  --fui-secondary-4: #5f1d06;
  --fui-secondary-5: #6d1f02;
  --fui-secondary-6: #883317;
  --fui-secondary-7: #9a3b1d;
  --fui-secondary-8: #b33600;
  --fui-secondary-9: #f24c00;
  --fui-secondary-10: #ee6c44;
  --fui-secondary-11: #fa8f6f;
  --fui-secondary-12: #ffe0d7;
  --fui-secondary-a-1: rgba(255, 104, 54, 0.08);
  --fui-secondary-a-2: rgba(254, 85, 34, 0.118);
  --fui-secondary-a-3: rgba(255, 66, 9, 0.244);
  --fui-secondary-a-4: rgba(138, 36, 0, 0.647);
  --fui-secondary-a-5: rgba(121, 33, 0, 0.882);
  --fui-secondary-a-6: rgba(255, 85, 29, 0.5);
  --fui-secondary-a-7: rgba(255, 90, 38, 0.576);
  --fui-secondary-a-8: rgba(179, 54, 0, 1);
  --fui-secondary-a-9: rgba(242, 76, 0, 1);
  --fui-secondary-a-10: rgba(255, 115, 72, 0.929);
  --fui-secondary-a-11: rgba(255, 146, 113, 0.979);
  --fui-secondary-a-12: rgba(255, 224, 215, 1);
  --fui-success-1: #1a241f;
  --fui-success-2: #1a2b23;
  --fui-success-3: #194633;
  --fui-success-4: #0a553b;
  --fui-success-5: #016243;
  --fui-success-6: #277f5c;
  --fui-success-7: #2f906a;
  --fui-success-8: #00a271;
  --fui-success-9: #00dc9b;
  --fui-success-10: #65e3ae;
  --fui-success-11: #98f8cb;
  --fui-success-12: #d0f1e0;
  --fui-success-a-1: rgba(130, 255, 192, 0.08);
  --fui-success-a-2: rgba(100, 255, 182, 0.109);
  --fui-success-a-3: rgba(53, 255, 169, 0.223);
  --fui-success-a-4: rgba(0, 182, 119, 0.412);
  --fui-success-a-5: rgba(0, 103, 70, 0.941);
  --fui-success-a-6: rgba(65, 255, 179, 0.462);
  --fui-success-a-7: rgba(73, 255, 184, 0.534);
  --fui-success-a-8: rgba(0, 162, 113, 1);
  --fui-success-a-9: rgba(0, 220, 155, 1);
  --fui-success-a-10: rgba(112, 255, 195, 0.882);
  --fui-success-a-11: rgba(156, 255, 209, 0.971);
  --fui-success-a-12: rgba(220, 255, 237, 0.941);
  --fui-warning-1: #231c16;
  --fui-warning-2: #2b2015;
  --fui-warning-3: #482c11;
  --fui-warning-4: #5a3306;
  --fui-warning-5: #673a01;
  --fui-warning-6: #82501b;
  --fui-warning-7: #945c22;
  --fui-warning-8: #aa6200;
  --fui-warning-9: #e58600;
  --fui-warning-10: #e6994d;
  --fui-warning-11: #f6b67b;
  --fui-warning-12: #fbe3ce;
  --fui-warning-a-1: rgba(254, 162, 83, 0.076);
  --fui-warning-a-2: rgba(255, 155, 54, 0.109);
  --fui-warning-a-3: rgba(255, 134, 17, 0.231);
  --fui-warning-a-4: rgba(130, 70, 0, 0.647);
  --fui-warning-a-5: rgba(108, 61, 0, 0.941);
  --fui-warning-a-6: rgba(255, 150, 38, 0.475);
  --fui-warning-a-7: rgba(255, 153, 48, 0.55);
  --fui-warning-a-8: rgba(170, 98, 0, 1);
  --fui-warning-a-9: rgba(229, 134, 0, 1);
  --fui-warning-a-10: rgba(255, 169, 84, 0.895);
  --fui-warning-a-11: rgba(255, 189, 127, 0.962);
  --fui-warning-a-12: rgba(255, 231, 209, 0.983);
  --fui-danger-1: #251617;
  --fui-danger-2: #2f1719;
  --fui-danger-3: #50161f;
  --fui-danger-4: #650f22;
  --fui-danger-5: #740b26;
  --fui-danger-6: #8f2438;
  --fui-danger-7: #a22a41;
  --fui-danger-8: #bd1342;
  --fui-danger-9: #ff1e5c;
  --fui-danger-10: #fa5872;
  --fui-danger-11: #ff8793;
  --fui-danger-12: #ffdfe0;
  --fui-danger-a-1: rgba(255, 77, 88, 0.084);
  --fui-danger-a-2: rgba(255, 65, 80, 0.126);
  --fui-danger-a-3: rgba(255, 36, 70, 0.265);
  --fui-danger-a-4: rgba(255, 11, 65, 0.353);
  --fui-danger-a-5: rgba(255, 3, 67, 0.416);
  --fui-danger-a-6: rgba(255, 53, 91, 0.529);
  --fui-danger-a-7: rgba(255, 58, 96, 0.609);
  --fui-danger-a-8: rgba(255, 20, 85, 0.723);
  --fui-danger-a-9: rgba(255, 30, 92, 1);
  --fui-danger-a-10: rgba(255, 90, 116, 0.979);
  --fui-danger-a-11: rgba(255, 135, 147, 1);
  --fui-danger-a-12: rgba(255, 223, 224, 1);
  --fui-info-1: #151c23;
  --fui-info-2: #14202b;
  --fui-info-3: #112f4a;
  --fui-info-4: #07385f;
  --fui-info-5: #03406d;
  --fui-info-6: #1a5587;
  --fui-info-7: #206198;
  --fui-info-8: #006bb3;
  --fui-info-9: #0092f1;
  --fui-info-10: #499feb;
  --fui-info-11: #74b7f6;
  --fui-info-12: #d6ebff;
  --fui-info-a-1: rgba(70, 162, 254, 0.076);
  --fui-info-a-2: rgba(45, 155, 255, 0.109);
  --fui-info-a-3: rgba(17, 143, 255, 0.239);
  --fui-info-a-4: rgba(0, 83, 150, 0.588);
  --fui-info-a-5: rgba(0, 74, 129, 0.824);
  --fui-info-a-6: rgba(35, 154, 255, 0.496);
  --fui-info-a-7: rgba(43, 158, 255, 0.567);
  --fui-info-a-8: rgba(0, 107, 179, 1);
  --fui-info-a-9: rgba(0, 146, 241, 1);
  --fui-info-a-10: rgba(78, 172, 255, 0.916);
  --fui-info-a-11: rgba(120, 190, 255, 0.962);
  --fui-info-a-12: rgba(214, 235, 255, 1);
  --fui-neutral-0: #111111;
  --fui-neutral-1: #1b1b1b;
  --fui-neutral-2: #1f1f1f;
  --fui-neutral-3: #2d2d2d;
  --fui-neutral-4: #363636;
  --fui-neutral-5: #3e3e3e;
  --fui-neutral-6: #525252;
  --fui-neutral-7: #5d5d5d;
  --fui-neutral-8: #676767;
  --fui-neutral-9: #8d8d8d;
  --fui-neutral-10: #999999;
  --fui-neutral-11: #b1b1b1;
  --fui-neutral-12: #e8e8e8;
  --fui-neutral-a-1: rgba(255, 255, 255, 0.042);
  --fui-neutral-a-2: rgba(254, 254, 254, 0.059);
  --fui-neutral-a-3: rgba(254, 254, 254, 0.118);
  --fui-neutral-a-4: rgba(255, 255, 255, 0.155);
  --fui-neutral-a-5: rgba(255, 255, 255, 0.189);
  --fui-neutral-a-6: rgba(255, 255, 255, 0.273);
  --fui-neutral-a-7: rgba(255, 255, 255, 0.319);
  --fui-neutral-a-8: rgba(255, 255, 255, 0.361);
  --fui-neutral-a-9: rgba(255, 255, 255, 0.521);
  --fui-neutral-a-10: rgba(255, 255, 255, 0.571);
  --fui-neutral-a-11: rgba(255, 255, 255, 0.672);
  --fui-neutral-a-12: rgba(255, 255, 255, 0.903);
}
